@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Neutra";
  src: url("../NeutraText-BoldAlt.otf") format("opentype");
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header article {
  display: flex;
  gap: 150px;
}
header article a {
  text-decoration: none;
  font-size: 24px;
  color: #92d051;
  font-family: "Neutra", sans-serif;
}
header article a:hover {
  color: #628b35;
}
header article #login {
  background-color: transparent;
  border: none;
  color: #92d051;
  font-family: "Neutra", sans-serif;
  font-size: 24px;
  cursor: pointer;
}
header article #login:hover {
  color: #628b35;
}
header article img {
  padding-top: 20px;
  width: 100px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
header article img:hover {
  transform: scale(1.1);
}

#info-body,
#home-body {
  margin: 0;
  padding: 0;
  background-color: #444444;
  padding-left: 100px;
  padding-right: 100px;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom, rgba(255, 153, 153, 0) 0%, #444444 90%, #444444 100%), url("../img/movie-wallpaper.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow-x: hidden;
}
#info-body main #popup,
#home-body main #popup {
  position: fixed;
  top: 15%;
  left: 35%;
  z-index: 9999;
  background-color: red;
  height: 70%;
  width: 30%;
  justify-content: center;
  display: none;
}
#info-body main #popup #form-body,
#home-body main #popup #form-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
#info-body main #popup #form-body #form-head,
#home-body main #popup #form-body #form-head {
  flex: 1;
}
#info-body main #popup #form-body #form-main,
#home-body main #popup #form-body #form-main {
  flex: 6;
}
#info-body main #popup #form-body #form-foot,
#home-body main #popup #form-body #form-foot {
  flex: 1;
}
#info-body main #popup #form-body #form-foot #form-foot button,
#home-body main #popup #form-body #form-foot #form-foot button {
  cursor: pointer;
}
#info-body main #home-info,
#home-body main #home-info {
  margin-top: 150px;
  width: 600px;
}
#info-body main #home-info h1,
#home-body main #home-info h1 {
  font-family: "Neutra", sans-serif;
  color: #92d051;
  font-size: 55px;
  padding: 0;
  margin: 0;
}
#info-body main #home-info p,
#home-body main #home-info p {
  font-family: "Montserrat", sans-serif;
  color: #92d051;
  font-size: 20px;
}
#info-body main #home-info button,
#home-body main #home-info button {
  width: 200px;
  margin-top: 20px;
  height: 60px;
  background-color: #92d051;
  border: none;
  border-radius: 30px;
  color: #444444;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}
#info-body main #home-info button:hover,
#home-body main #home-info button:hover {
  transform: scale(1.1);
}
#info-body main #info-movie,
#home-body main #info-movie {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
#info-body main #info-movie h1,
#home-body main #info-movie h1 {
  color: #5b9bd5;
  font-family: "Neutra", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}
#info-body main #info-movie .movieGenre,
#home-body main #info-movie .movieGenre {
  color: white;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}
#info-body main #carousel-info,
#home-body main #carousel-info {
  margin-top: 80px;
}
#info-body main .carousel,
#home-body main .carousel {
  margin-top: 100px;
}
#info-body main .carousel button,
#home-body main .carousel button {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
#info-body main .carousel button img,
#home-body main .carousel button img {
  width: 80%;
  filter: invert(100%);
  display: block;
  margin: auto;
}
#info-body main .carousel button:hover,
#home-body main .carousel button:hover {
  transform: scale(1.1);
}
#info-body main .carousel h1,
#home-body main .carousel h1 {
  color: #5b9bd5;
  font-family: "Neutra", sans-serif;
  font-size: 40px;
}
#info-body main .carousel .carousel-images,
#home-body main .carousel .carousel-images {
  display: flex;
  gap: 30px;
  transition: transform 0.3s ease-in-out;
}
#info-body main .carousel .carousel-images img,
#home-body main .carousel .carousel-images img {
  width: 235px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
#info-body main .carousel .carousel-images img:hover,
#home-body main .carousel .carousel-images img:hover {
  transform: scale(1.05);
}
#info-body main .carousel .carousel-images .carousel-section,
#home-body main .carousel .carousel-images .carousel-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#info-body main .carousel .carousel-images .carousel-section p,
#home-body main .carousel .carousel-images .carousel-section p {
  color: white;
  font-family: "Montserrat", sans-serif;
}

#stream-body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background-color: black;
}
#stream-body iframe {
  width: 100%;
  height: 100vh;
}
#stream-body button {
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  position: absolute;
  top: 1%;
  left: 1%;
}
#stream-body button img {
  width: 80%;
  filter: invert(100%);
  display: block;
  margin: auto;
}
#stream-body button:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=styles.css.map */